.layout {
  min-height: 100vh;
  text-shadow: 8px 8px 10px #0000008c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"),
    linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 6vh;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #f67207;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 7vh;
}

.logo {
  margin-top: 2rem;
  cursor: pointer;
}

.container-buttons {
  width: 50%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.button-layout {
  background: linear-gradient(
    0deg,
    rgba(235, 92, 32, 1) 0%,
    rgba(250, 139, 92, 0.9133403361344538) 100%
  );
  color: #ffffff;
  font-weight: bold;
  min-width: 10rem;
  border: none;
  border-radius: 10px;
  padding: 0.7rem 1.1rem;
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.fa-solid{
  margin-left: 0.5rem;
}

.active-button {
  background: red;
}

.button-layout:hover {
  filter: brightness(0.8);
}

.page-name {
  display: flex;
  flex-direction: column;
}

.page-name p {
  color: white;
  font-size: 1.4rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 435px;
  background: linear-gradient(
    0deg,
    rgba(235, 92, 32, 1) 0%,
    rgba(250, 139, 92, 0.9133403361344538) 100%
  );
  color: #ffff;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 2rem;
  width: 768px;
  margin: auto;
}

[data-content="teste1"] .main {
  transform: translateX(0px);
}

main p {
  text-align: justify;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: auto;
}

@media (max-width: 850px) {
  header {
    width: 95%;
    margin: auto;
    margin-top: 7vh;
  }
  main {
    width: 85%;
    margin-bottom: 2rem;
    height: auto;
  }
  .container-buttons {
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
  }
  .partners {
    row-gap: 3rem;
    margin-top: 2rem;
    justify-content: center;
  }
}
