{% include '/themes/custom/simplesmart/templates/Menu/menu.html.twig' %}
<header>
	<a href="/">
		<img class="logo" src="themes/custom/simplesmart/logo.png"/>
	</a>
	<div class="container-buttons">
		<a href="/" class="button-layout button-home">
			INTRODUÇÃO
		</a>
		<a href="/contato" class="button-layout button-contact">
			CONTATO
		</a>
	</div>
	<div class="page-name">
		<p class="current-page"></p>
		<img src="themes/custom/simplesmart/borderBottom.png"/>
	</div>
</header>
